
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.calculator-holder {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.calculator-body {
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    background-color: #f56c4d;
    height: 30em;
    width: 20em;
    justify-content: space-around;
    align-items: center;
}

.second-row button {
    border-radius: 0.5em;
    height: 5em;
    width: 10em;
}

button {
    border-radius: 0.5em;
    height: 5em;
    width: 5em;
}

.display {
    border-radius: 0.5em;
    height: 5em;
    width: 19em;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
}